Hello {{title}}

<button type="button" (click)="decrementCounter()" [disabled]="isDisabled">{{myBtn}}</button>

<img alt="Angular Image" [src]="angularImage" [width]="widthValue" height="100"/>


<div [style.backgroundColor]="bgColor">
  <h1 [style.color]="titleColor"> Title</h1>
  <p [style]="description"> Description</p>
</div>

<button (mouseover)="increamentCounter()">Increment</button>

<p> Value : {{counter}}</p>

<h2 [class.textColor]="redTextWithValue=='no'"> Some value </h2>

<div>
  <h1>Two way data binding</h1>
  <input [(ngModel)]="inputText" />
  <p>{{inputText}}</p>

  <div [ngClass]="classes" [ngStyle]="{'background-color':'lighblue'}">
    {{message}}
  </div>
</div>

<div>
  <h1>{{structuralDirectives}}</h1>
  <h3>Ng If Examples</h3>
  <p *ngIf="!isLoggedIn">Please login</p>
  <p *ngIf="isLoggedIn">Welcome, {{username}}</p>

  <br/><br/>
  <h3>Ng If Else Examples</h3>
  <p *ngIf="isLoggedIn; else loggedOut">Welcome back, {{username}}</p>
  <ng-template #loggedOut>Please login to view the content</ng-template>
  <br/><br/>
  <h3>Ng For examples</h3>
  <ul>
    <li *ngFor="let name of names; let i = index">{{i}} - {{name}}</li>
  </ul>

  <br/><br/>
  <h3>Ng Switch examples</h3>
  <div [ngSwitch]="grade">
    <p *ngSwitchCase="'A'">Excellent</p>
    <p *ngSwitchCase="'B'">Good</p>
    <p *ngSwitchDefault>Unknown</p>
  </div>

  <div>
    <h1>Usage of Built in Pipes</h1>
    <p>{{message | lowercase}}</p>
  </div>
</div>